{% extends 'base.html.twig' %}



{% block body %}
<div class="container mt-5">
    <h1 class="text-primary">Lista de Pets</h1>
    <form method="get" action="{{ path('pet_index') }}" class="form-inline mb-3">
        <input type="text" name="search" class="form-control mr-sm-2" placeholder="Pesquisar pet">
        <button type="submit" class="btn btn-secondary">Pesquisar</button>
    </form>
    <a href="{{ path('pet_novo') }}" class="btn btn-primary mb-3">Novo Pet</a>

    <!-- Container da Tabela -->
    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-sm table-striped datatable table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Nome</th>
                        <th>Espécie</th>
                        <th>Sexo</th>
                        <th>Raça</th>
                        <th>Porte</th>
                        <th>Idade</th>
                        <th>Observações</th>
                        <th>Dono</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for pet in pets %}
                    <tr>
                        <td>{{ pet.nome }}</td>
                        <td>{{ pet.especie }}</td>
                        <td>{{ pet.sexo }}</td>
                        <td>{{ pet.raca }}</td>
                        <td>{{ pet.porte }}</td>
                        <td>{{ pet.idade }} anos</td>
                        <td>{{ pet.observacoes }}</td>
                        <td>{{ pet.dono_nome }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-dropdown btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ações
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('pet_editar', {'id': pet.id}) }}">Editar</a>
                                    <form method="post" action="{{ path('pet_deletar', {'id': pet.id}) }}" class="d-inline">
                                        <button type="submit" class="dropdown-item text-danger">Deletar</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
