{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
    .mr-custom {
        margin-right: 8px; /* Espaçamento entre os botões */
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Pets</h1>
    <form method="get" action="{{ path('pet_index') }}" class="form-inline mb-3">
        <input type="text" name="search" class="form-control mr-sm-2" placeholder="Pesquisar pet">
        <button type="submit" class="btn btn-secu">Pesquisar</button>
    </form>
    <a href="{{ path('pet_novo') }}" class="btn btn-primary mb-3">Novo Pet</a>

    <!-- Bordered Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Idade</th>
                <th>Dono</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for pet in pets %}
            <tr>
                <td>{{ pet.nome }}</td>
                <td>{{ pet.tipo }}</td>
                <td>{{ pet.idade }} anos</td>
                <td>{{ pet.dono_nome }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('pet_editar', {'id': pet.id}) }}" class="btn btn-warning btn-sm mr-custom">Editar</a>
                        <form method="post" action="{{ path('pet_deletar', {'id': pet.id}) }}" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
