{% extends 'base.html.twig' %}

{% block title %}Listagem de usuários{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>Usuários
        </h1>

        <div class="d-flex justify-content-between align-items-center mb-3">

            <a href="{{ url('app_usuario_create')}}" class="btn btn-secondary">Novo usuário</a>
        </div>

        <!-- Bordered Table -->
        <table class="table table-bordered datatable">
            <thead>
            <tr>
                <th>Nome do usuário</th>
                <th>E-mail</th>
                <th>Nivel</th>
                {% if app.session.get('accessLevel') == 'Super Admin' %}
                    <th>Estabelecimento</th>
                {% endif %}
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome_usuario }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.access_level }}</td>
                    {% if app.session.get('accessLevel') == 'Super Admin' %}
                        <td>{{ usuario.razaoSocial }}</td>
                    {% endif %}
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ url('usuario_edit', {'id': usuario.id}) }}" class="btn btn-warning btn-sm mr-custom">Editar</a>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
