{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>Agendamentos de {{ cliente.nome }}</h1>
    <ul class="list-group">
        {% for agendamento in agendamentos %}
            <li class="list-group-item">
                {{ agendamento.data|date('d/m/Y H:i') }} - {{ agendamento.pet_nome }} - {{ agendamento.servico_nome }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('cliente_index') }}" class="btn btn-secondary mt-3"><i class="bi bi-arrow-left me-1"></i>Voltar</a>
</div>
{% endblock %}
