{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
    .mr-custom {
        margin-right: 8px; /* Espaçamento entre os botões */
    }
    .btn-secondary {
        background-color: #007bff;
        border-color: #007bff;
        font-weight: bold;
        border-radius: 20px;
        padding: 8px 16px;
    }
    .btn-secondary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .dropdown-menu {
        border-radius: 12px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Clientes</h1>

    <a href="{{ path('cliente_novo') }}" class="btn btn-secondary mb-3">+ Novo Cliente</a>

    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ação
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cliente_agendamentos', {'id': cliente.id}) }}" class="dropdown-item">Ver Agendamentos</a></li>
                            <li><a href="{{ path('cliente_editar', {'id': cliente.id}) }}" class="dropdown-item">Editar</a></li>
                            <li>
                                <form method="post" action="{{ path('cliente_deletar', {'id': cliente.id}) }}" class="d-inline">
                                    <button type="submit" class="dropdown-item text-danger">Deletar</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            $('.table').DataTable();
        });
    </script>
{% endblock %}
