{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
    .mr-custom {
        margin-right: 8px; /* Espaçamento entre os botões */
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Clientes</h1>
    <form method="get" action="{{ path('cliente_index') }}" class="form-inline mb-3">
        <input type="text" name="search" class="form-control mr-sm-2" placeholder="Pesquisar cliente"><br>
        <button type="submit" class="btn btn-secondary">Pesquisar</button>
    <a href="{{ path('cliente_novo') }}" class="btn btn-secondary mb-0 float-end">Novo Cliente</a>
    </form>

    <!-- Bordered Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('cliente_agendamentos', {'id': cliente.id}) }}" class="btn btn-info btn-sm mr-custom">Ver Agendamentos</a>
                        <a href="{{ path('cliente_editar', {'id': cliente.id}) }}" class="btn btn-warning btn-sm mr-custom">Editar</a>
                        <form method="post" action="{{ path('cliente_deletar', {'id': cliente.id}) }}" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
