{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
    .mr-custom {
        margin-right: 8px; /* Espaçamento entre os botões */
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Clientes</h1>
    <form method="get" action="{{ path('cliente_index') }}" class="form-inline mb-3">
        <input type="text" name="search" class="form-control mr-sm-2" placeholder="Pesquisar cliente"><br>
        <button type="submit" class="btn btn-secondary">Pesquisar</button>
    <a href="{{ path('cliente_novo') }}" class="btn btn-secondary mb-0 float-end">Novo Cliente</a>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ação
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cliente_agendamentos', {'id': cliente.id}) }}" class="dropdown-item mr-custom">Ver Agendamentos</a></li>
                            <li><a href="{{ path('cliente_editar', {'id': cliente.id}) }}" class="dropdown-item mr-custom">Editar</a></li>
                            <li>
                                <form method="post" action="{{ path('cliente_deletar', {'id': cliente.id}) }}" class="d-inline">
                                    <button type="submit" class="dropdown-item">Deletar</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            $('.table').datatables()
        });
    </script>
{% endblock %}
