{% extends 'base.html.twig' %}
{% block body %}
	<div class="pagetitle">
		<h1 class="text-primary">Novo plano</h1>
		<nav>
			<ol class="breadcrumb bg-light p-2 rounded">
				<li class="breadcrumb-item"><a href="{{ path('home') }}" class="text-decoration-none text-primary">Home</a></li>
			</ol>
		</nav>
	</div>
	<form method="post" action="{{url('app_plano_create_new')}}">
		<section class="section">
			<div class="row justify-content-center">
				<div class="col-md-8 col-sm-12">
					
					<div class="card shadow-lg border-0">
						<div class="card-body">
							<h5 class="card-title text-uppercase">Módulos do plano</h5>
							<div class="row">
								<div class="col-md-12 mb-3">
									<ul class="list-group">
										{% for key,row in modulos %}
											<li class="list-group-item">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" name="modulos[]" id="{{key}}" value="{{key}}">
													<label class="form-check-label" for="{{key}}">
														{{row}}
													</label>
												</div>
											</li>
										{% endfor %}
									</ul>
									<textarea class="form-control tinymce-editor" rows="6" name="descricao" id="descricao">
									<ul class="list-group">
										<li class="list-group-item">Agendamentos de Pets</li>
										<li class="list-group-item">Cadastro de Clientes</li>
										<li class="list-group-item">Cadastro de Pets</li>
										<li class="list-group-item">Serviços do petShop</li>
										<li class="list-group-item">Área de financeiro</li>
										<li class="list-group-item"><span style="text-decoration: line-through;">Quadro de Banho e Tosa</span></li>
										<li class="list-group-item"><span style="text-decoration: line-through;">Clinica Veterinária</span></li>
										<li class="list-group-item"><span style="text-decoration: line-through;">Hospedagem de Cães</span></li>
										<li class="list-group-item">Gestão de usuários</li>
									</ul>
									</textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					
					<div class="card shadow-lg border-0">
						<div class="card-body">
							<div class="mb-3 mt-3">
								<h5 class="card-title text-uppercase">Nome</h5>
								<input type="text" class="form-control" id="nome" name="nome" required>
							</div>
							<div class="mb-3">
								<h5 class="card-title text-uppercase">Valor do plano</h5>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">R$</span>
									<input type="text" class="form-control" name="valor" id="valor" placeholder="99,00" oninput="validateFloatInput(this)">
								</div>
							</div>
							<div class="mb-3">
								<h5 class="card-title text-uppercase border-botton">Status</h5>
								<div class="btn-group w-100" role="group">
									<input type="radio" class="btn-check" name="status" id="status1" value="Ativo" autocomplete="off" checked>
									<label class="btn btn-outline-primary" for="status1">Ativo</label>
									<input type="radio" class="btn-check" name="status" id="status2" value="Inativo" autocomplete="off">
									<label class="btn btn-outline-primary" for="status2">Inativo</label>
								</div>
							</div>
							<div class="mb-3">
								<h5 class="card-title text-uppercase">Trial</h5>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" name="trial" role="switch" id="flexSwitchCheckDefault">
									<label class="form-check-label" for="flexSwitchCheckDefault">Plano com periodo de testes?</label>
								</div>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-success w-50">Salvar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
				</div>
			</div>
		</section>
	</form>
{% endblock %}
{% block javascripts %}
	<script>
		$(function(){
			$('#cep').change(function () {
				var cep = $(this).val().replace('-', '').replace('.', '');
				if (cep.length === 8) {
					$.get("https://viacep.com.br/ws/" + cep + "/json", function (data) {
						if (!data.erro) {
							$('#bairro').val(data.bairro);
							$('#complemento').val(data.complemento);
							$('#cidade').val(data.localidade);
							$('#rua').val(data.logradouro);
						}
					}, 'json');
				}
			});
		});
	
		document.addEventListener('DOMContentLoaded', function () {
		function validateFloatInput(input) {
			input.value = input.value.replace(',', '.');
			input.value = input.value.replace(/[^0-9.]/g, '');
			const parts = input.value.split('.');
			if (parts.length > 2) {
				input.value = parts[0] + '.' + parts.slice(1).join('');
			}
		}
		// Torna a função global para o oninput enxergar
		window.validateFloatInput = validateFloatInput;
	});
	</script>
{% endblock %}